<!DOCTYPE html>
<html lang="en">
<head>



    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no" />
    <title>@ViewData["Title"]  - Mkmnooo </title>
    <style>
        body {
            background-color: #dedede !important;
            padding: 0 !important;
            margin: 0 !important;
        }
    </style>
    <link rel="stylesheet" href="~/lib/bootstrap-4.5.0-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap-4.5.0-dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/jquery-cookie/jquery.cookie.js"></script>
    <script src="~/lib/echarts/echarts.js"></script>
    <script src="~/lib/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.min.js"></script>
</head>



<body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">Mkmnooo</a>
    </nav>
    <div class="container-fluid">
        <div  class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse  ">
                <div class="sidebar-sticky pt-3">
                    <ul class="nav flex-column">
                        <li>
                            aaaa
                        </li>
                        <li>
                            bbbb
                        </li>
                    </ul>
                </div>
            </nav>
            <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4" role="main">
                @RenderBody()
            </main>

        </div>
    </div>
 

</body>





<script type="text/javascript" language="JavaScript">

    //$("body").css("background-color", "#dedede");

    //login deal
    function loginsbt() {
        var emailx = $("#useremailz").val();
        var passwordx = $("#userpasswordz").val();
        var og = { password: passwordx, email: emailx };
        $.ajax({
            type: "post",
            url: "/api/Authentication/requestToken",
            headers: {
                "Content-Type": "application/json;charset=UTF-8",
                "Accept": "application/json;charset=UTF-8"
            },
            data: JSON.stringify(og),
            dataType: "text",
            success: function (result) {
                if (result != "error") {
                    $.cookie("tkkz", result, { expires: 7, path: "/" });
                    $('#L1').collapse("hide");
                    //$('#accountz').html(emailx);
                    $("#loginstyle").hide();
                    actoken();
                } else {
                    $("#tipsz").html("No such account!");
                }
            }
        });
    }

    //register deal
    function registersbt() {
        var emailx = $("#useremailz").val();
        var passwordx = $("#userpasswordz").val();
        if (emailx == "") {
            $("#tipsz").html("email!");
            return;
        }
        if (passwordx == "") {
            $("#tipsz").html("password!");
            return;
        }
        var og = { password: passwordx, email: emailx };
        $.ajax({
            type: "post",
            url: "/api/Authentication/registerToken",
            headers: {
                "Content-Type": "application/json;charset=UTF-8",
                "Accept": "application/json;charset=UTF-8"
            },
            data: JSON.stringify(og),
            dataType: "text",
            success: function (result) {
                switch (result) {
                    case "userexist": $("#tipsz").html("Account already exists!"); break;
                    case "false": $("#tipsz").html("Abnormal! please try again!"); break;
                    default:
                        $.cookie("tkkz", result, { expires: 7, path: "/" });
                        $('#L1').collapse("hide");
                        //$('#accountz').html(emailx);
                        $("#loginstyle").hide();
                        actoken();
                        break;
                }
            }
        });
    }

    function outsubmit() {
        $.cookie("tkkz", "ak", { expires: 1, path: "/" });
        $("#userinfostyle").hide();
        $('#accountz').show();
        $("#loginstyle").show();
    }


    //////////////////////////////////////////// 2020-10-7 update
    function searchsubmit() {
        var stxx = $("#searchtext").val();
        if (stxx != null && stxx != "") {
            $(location).attr('href', '/Home/Search?searchtext=' + encodeURI(stxx));
        } else {
            return;
        }
    }


    //////////////////////////////////////////////////////////////////////////////////////////////
    function actoken() {
        $.ajax({
            type: "post",
            url: "/User/VldToken",
            data: {},
            contenType: "application/json;charset=UTF-8",
            dataType: "json",
            headers: {
                "Authorization": "Bearer " + $.cookie("tkkz")
            },
            success: function (result) {
                if (result[0] != null) {
                    $("#accountz").hide();
                    $("#loginstyle").hide();
                    $("#userinfostyle").html(result[3]);
                } else {
                    $("#loginstyle").show();
                }

            }
        });
    }

    $("#searchbtn").click(function () {
        $("#loginstyle").hide();
        $("#searchstyle").show();
    })

    $("#accountz").click(function () {
        $("#loginstyle").show();
        $("#searchstyle").hide();
    })


    //$(document).ready(function () {
    actoken();
    //});





</script>
@RenderSection("Scripts", required: false)




</html>

