@{
    ViewData["Title"] = "Mkmnooo.com  IndexDay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-bottom:10px;">


        <div class="col-lg-12" style=" padding-bottom:8px; padding-top:10px; background-color:#cecece; border-left:2px solid #525f83; ">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-xs-12">
                    <h5 style="color:#1f3369; float:left;"><b>@ViewBag.variety</b></h5>
                    <span style="margin-left:20px; margin-top:2px; float:left; color:#ffffff;">Time zone: GMT</span>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-xs-12 text-right">
                    <button type="button" class="btn btn-info btn-sm" onclick="javascript: mmm(365);" style="margin-left:0px;">Y</button>
                    <button type="button" class="btn btn-info btn-sm" onclick="javascript: mmm(1080);" style="margin-left:3px;">3Y</button>
                    <button type="button" class="btn btn-info btn-sm" onclick="javascript: mmm(1800); " style="margin-left:3px;">5Y</button>
                    <button type="button" class="btn btn-info btn-sm" onclick="javascript: mmm(3650); " style="margin-left:3px;">10Y</button>
                    <button type="button" class="btn btn-info btn-sm" onclick="javascript: mmm(99999);" style="margin-left:3px;"> All </button>
                </div>
            </div>
        </div>


        <div class="col-12" style="background-color:#fefefe; margin-top:20px;">
            <div class="col-row" style="">
                <img src="~/img/图表.png" width="25px" height="25px;" style="margin-top:20px; " />
            </div>
            <div id="main" class="col-12" style="height:300px;  padding-left:0px; ">
            </div>
        </div>


        <div class="col-12" style="background-color:#dfdfdf; padding-top:10px; padding-bottom:0px; margin-top:10px; ">
            <div class="row" style="">
                <div class="col-lg-1 col-xs-12" style="padding-bottom:10px;">
                    <img src="~/img/关键词.png" width="22px" height="22px;" />
                </div>
                <div id="essentialdisplay" class="col-lg-11 col-xs-12" style="">
                    <div class="row">
                        <div id="maxd" style="font-size:24px;" class="col-xl-2 col-lg-3  col-md-4 col-4 text-center"></div>
                        <div id="mind" style="font-size: 24px; " class="col-xl-2 col-lg-3 col-md-4 col-4 text-center"></div>
                        <div id="avgd" style="font-size: 24px; " class="col-xl-2 col-lg-3 col-md-4 col-4 text-center"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12" style="font-size:14px; background-color:#ffffff; margin-top:20px; padding-top:20px;">
            <div class="row" style="padding-left:10px;">
                <img src="~/img/数据.png" width="28px;" height="28px;" />
            </div>
            <div class="row" id="tabledisplay" style="padding-top:15px; padding-bottom:15px; ">
            </div>
        </div>

        <div id="bto" class="col-12 text-right">
            <span style="font-size:14px; margin-right:20px;">Notice: Not guaranteed to be completely accureate,For reference only.</span>
            <a href="#"><img src="~/img/置顶.png" width="30px" height="30px" /></a>
        </div>


    </div>
</div>





@section Scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript" language="JavaScript">

        var pageno = 0;


        function kkk() {
            var str="";
            $.ajax({
                type: "post",
                url: "/Detailed/OnFCStatistics",
                contenType: "application/json; charset=utf-8",
                data: { variety: '@ViewBag.variety',level:''},
                dataType: "json",
                beforeSend: function () {
                    $("#statisticedisplay").html("<span style='color:#336699;'><b>Loading data......</b></span");
                },
                success: function (result) {
                    str = str + result[3];
                    str = str + '<br/><b>' + result[2] + ' - ' + result[1] + '</b >&nbsp;&nbsp;&nbsp;&nbsp;<b>' + result[0] + '</b>';
                    $("#statisticedisplay").html(str);
                }
            });
        }

        function mmm(scount) {
            jjj(scount);
        }


        function jjj(scount) {
            var strr = '';
            $.ajax({
                type: "post",
                url: "/Calendar/OnTableListCalendar",
                contenType: "application/json;charset=UTF-8",
                data: { variety: '@ViewBag.variety', pageno: scount },
                dataType: "json",
                headers: {
                    //"Authorization":"Bearer " + $.cookie("tkkz")
                },
                beforeSend: function () {
                    $("#tabledisplay").html("<span style='color:#336699;'><b>Loading data......</b></span");
                },
                success: function (result) {

                    var maxdata = 0;
                    var mindata = 999999;
                    var maxdatadate;
                    var mindatadate;
                    var totaldata = 0;
                    var avgdata=0;

                    var strDataClose = new Array();
                    var strDay = new Array();
                    var j = result.length;
                    p = j - 1;
                    var tt;

                    strr = strr + '<div class="col-xl-2 col-lg-2 col-md-2 col-3 " style="border-bottom:1px solid #dedede; background-color:#eee;  line-height:40px;"><b>Date</b></div>';
                    strr = strr + '<div class="col-xl-1 col-lg-2 col-md-2 d-none d-md-block" style="border-bottom:1px solid #dedede;background-color:#eee; line-height:40px;"><b>Time</b></div>';
                    strr = strr + '<div class="col-xl-1 col-lg-2 col-md-2 d-none d-md-block" style="border-bottom:1px solid #dedede;background-color:#eee; line-height:40px;"><b>Currency</b></div>';
                    strr = strr + '<div class="col-xl-4 col-lg-2 col-md-2 col-3" style="border-bottom:1px solid #dedede;background-color:#eee; line-height:40px;"><b>Event</b></div>';
                    strr = strr + '<div class="col-xl-2 col-lg-2 col-md-2 col-3 " style="border-bottom:1px solid #dedede;background-color:#eee;line-height:40px;"><b>Forecast</b></div>';
                    strr = strr + '<div class="col-xl-2 col-lg-2 col-md-2 col-3 " style="border-bottom:1px solid #dedede;background-color:#eee;line-height:40px;"><b>Actual</b></div>';
                    for (var i = 0; i < j; i++){
                        strr = strr + '<div class="col-xl-2 col-lg-2 col-md-2 col-3 " style="border-bottom:1px solid #dedede; line-height:20px; padding-top:10px; padding-bottom:10px;">' + result[i].datetime + '</div>';
                        strr = strr + '<div class="col-xl-1 col-lg-2 col-md-2 d-none d-md-block " style="border-bottom:1px solid #dedede;  line-height:20px; padding-top:10px; padding-bottom:10px;">' + result[i].time + '</div>';
                        strr = strr + '<div class="col-xl-1 col-lg-2 col-md-2 d-none d-md-block" style="border-bottom:1px solid #dedede;  line-height:20px; padding-top:10px; padding-bottom:10px;" >' + result[i].currency + '</div>';
                        strr = strr + '<div class="col-xl-4 col-lg-2 col-md-2 col-3" style="border-bottom:1px solid #dedede;  line-height:20px; padding-top:10px; padding-bottom:10px;"><b>' + result[i].eventz + '</b></div>';
                        strr = strr + '<div class="col-xl-2 col-lg-2 col-md-2 col-3 " style="border-bottom:1px solid #dedede;  line-height:20px; padding-top:10px; padding-bottom:10px;">' + result[i].forecast + '</div>';
                        strr = strr + '<div class="col-xl-2 col-lg-2 col-md-2 col-3 " style="border-bottom:1px solid #dedede;  line-height:20px; color:#336699; padding-top:10px; padding-bottom:10px;"><b>' + result[i].actual + '</b></div>';
                    

                        tt = result[i].actual;
                        tt = tt.replace(" M", "");
                        tt = tt.replace("%", "");
                        tt = tt.replace("HK", "");
                        tt = tt.replace("Kr", "");
                        tt = tt.replace("B", "");
                        tt = tt.replace("$", "");
                        tt = tt.replace("K", "");
                        tt = tt.replace("£", ""); 
                        tt = tt.replace("€", "");    
                        tt = tt.replace("R", "");    


                        strDataClose[p] = parseFloat(tt);
                        strDay[p] = result[i].datetime;


                        if (strDataClose[p] > maxdata) {
                            maxdata = strDataClose[p];
                            maxdatadate = result[i].datetime;
                        }
                        if (strDataClose[p] < mindata) {
                            mindata = strDataClose[p];
                            mindatadate = result[i].datetime;
                        }

                        totaldata = totaldata + strDataClose[p];
                        
                        p = p - 1;
                    }
                    avgdata = totaldata / j;
                    
                    $("#maxd").html("<span style='font-size:12px;'>MaxValue</span><br/>" + maxdata);
                    $("#mind").html("<span style='font-size:12px;'>MinValue</span><br/>" + mindata);
                    $("#avgd").html("<span style='font-size:12px;'>AvgValue</span><br/>" + avgdata);

                    $("#tabledisplay").html(strr);

                    var myChart = echarts.init(document.getElementById('main'));
                    var option = {

                        title: {
                            text: '',
                            color:'#105712',
                        },

                        grid: {
                            left: "9%",
                            right: "3%",
                            height: "78%",
                            bottom: "15%",
                        },

                        tooltip: {
                            trigger: 'axis',
                            axisPointer: {
                                type: 'cross'
                            },
                            backgroundColor: '#666',
                            borderWidth: 0,
                            borderColor: '#ccc',
                            padding: 10,
                            textStyle: {
                                color: '#eee',
                                fontSize:12,
                            },
                            position: function (point, params, dom, rect, size) {
                                var x = 0; // x坐标位置
                                var y = 0; // y坐标位置
                                // 当前鼠标位置
                                var pointX = point[0];
                                var pointY = point[1];

                                // 提示框大小
                                var boxWidth = size.contentSize[0];
                                var boxHeight = size.contentSize[1];
                                // boxWidth > pointX 说明鼠标左边放不下提示框
                                if (boxWidth > pointX) {
                                    x = 5;
                                } else { // 左边放的下
                                    x = pointX - boxWidth;
                                }
                                // boxHeight > pointY 说明鼠标上边放不下提示框
                                if (boxHeight > pointY) {
                                    y = 5;
                                } else { // 上边放得下
                                    y = pointY - boxHeight;
                                }
                                return [x, y];
                            },

                            extraCssText: 'width:170px',
                        },

                        legend: {
                            data: ['Price']
                        },

                        xAxis: {
                            data: strDay,
                            axisLine: {
                                lineStyle: {
                                    color: '#aaa',
                                    width:1.2,
                                },
                            },
                            splitLine: {
                                lineStyle: {
                                    color: '#eee',
                                },
                                show:true,
                            },
                            axisLabel: {
		                        color:'555',
                            },
                        },

                        yAxis: {
                            min: 'dataMin',
                            max: 'dataMax',
                            axisLine: {
                                lineStyle: {
                                    color: '#aaa',
                                    width:1.2,
                                }
                            },
                            splitLine: {
                                lineStyle: {
                                    color: '#eee',
                                },
                                show: true,
                            },
                            axisLabel: {
		                        color:'#555',
                            },
                        },

                        series: [{
                            name: 'Actual',
                            type: 'bar',
                            data: strDataClose,
                            smooth: true,
                            itemStyle: {
                                normal: {
                                    color:'#334455',
                                    lineStyle:{
                                        width: 1, //设置线条粗细
                                        color:'#666',
                                    }
                                }
                            }
                        }],

                        /*
                        dataZoom: [
                            {   // 这个dataZoom组件，默认控制x轴。
                                type: 'slider', // 这个 dataZoom 组件是 slider 型 dataZoom 组件
                                start: 0,      // 左边在 10% 的位置。
                                end: 100         // 右边在 60% 的位置。
                            },
                        ]*/


                    };

                    // 使用刚指定的配置项和数据显示图表。
                    myChart.setOption(option);


                }
            });
        }

        $(document).ready(function () {
            //kkk();
            //uuu(99999);
            jjj(1800);
        })






    </script>

}

