
@{
    ViewData["Title"] = "About";
}

    <div class="row">
        <div class="col-lg-12">
            <div class="col-xl-8 col-lg-8 col-md-12 col-xs-12" style="min-height:200px; margin-top:25px; font-size:16px; line-height:32px; ">
                <p>
                    This website is dedicated to the collection and analysis of typical financial data, and to express their views on the market. At present, the varieties involved are crude oil, gold, financial index, foreign exchange futures, agricultural products futures, and so on. It is believed that with the increase of the number and scale of visits, there will be more financial varieties and analysis methods.
                </p>
                <p>
                    All the data on this website are mainly at the daily level and the minute level, and individual transactions are at the Tick level. Although the accuracy cannot be guaranteed at 100%, it still has a relative effect on the macro analysis of the data. Therefore, all comments and data analysis can only be used as a reference for financial investors, not as a basis for actual speculation.
                </p>
                <p><b>
                    Finally, trading lies in persistence, in constant recording, in constant summary, and in constantly defeating yourself-to all the individual financial traders who are still persevering!
                </b></p>
            </div>
            <div class="offset-1 col-10 col-xs-12">
                <img src="~/img/pig.jpg" width="100%" height="100%" />
            </div>
        </div>
    </div>




