
@{
    ViewData["Title"] = "Cookie";
}

<h1>Cookie terms of use</h1>
<br />

<p>
    We may use one or more "cookie" when visiting or using our website. "Cookie" is a small text file placed on your computer's hard disk that enables a Web site to remember your user preferences. Without Cookie, we may not be able to provide certain services or functions, and the website will not work as efficiently as we would like. You can turn off Cookie, but if you do, you may not be able to access some services on the site.
</p>
<p>
    Please note that by visiting or using our website, you agree to use Cookie as described in this policy.
</p>
<p>
    1. What is cookie??
</p>
<p>
    Cookie is a plain text message string downloaded to your computer or mobile device when you visit our website or other website using our implemented Web tool. Your Web browser then sends the Cookie back to the original site or to another site that recognizes the Cookie on each subsequent visit. You can find more information about cookie on www.allaboutcookies.org.
</p>
<p>
    Cookie is widely used to make websites work in an efficient way. The use of Cookie allows you to navigate between pages efficiently. Cookie remembers your preferences and makes your interaction with the site smoother and more efficient. Cookie is also used to help ensure that the ads you see online are relevant to you and your interests.
</p>
<p>
    Set up and store Cookie.
    Cookie can be set up by the site you are visiting ("first party Cookie") or by a third party website running content on the site you are viewing ("third party cookie"). They may be saved during your visit to this site or when you visit this site again.
</p>
<p>
    Different types of cookie.
    There are four main types of Cookie:
</p>
<p>
    (I) absolutely essential Cookie: these Cookie are essential to enable you to log in, browse, and use the functionality of the site, or to provide the services you require, for example, by remembering the items you put in your online shopping basket. We don't need your consent to use these cookie.
</p>
<p>
    (Ii) functional Cookie: these Cookie allow websites to remember your choices (such as your user name, language, or your region) and provide enhanced, more personalized features. For example, a website can use Cookie to store information about your current region, remember your changes to the text size, font, and other parts of the page (which you can customize), and provide the services you request (such as watching videos or commenting on a blog) to provide you with local weather reports or traffic news. The information collected by these cookie is anonymous and cannot track your browsing activity on other sites.
</p>
<p>
    (Iii) performance cookie: these cookie collect information about how you use the site, such as the pages you visit most frequently, and record any difficulties you may encounter when using the site, such as error messages. All the information collected by these cookie is aggregated and therefore anonymous. It is only used to improve the efficiency of the website.
</p>
<p>
    (Iv) aims at Cookie or Advertising Cookie:, which are used to place ads tailored to you and your interests. They are also used to limit the number of times you see ads and to help measure the effectiveness of advertising campaigns. They are usually launched by advertising networks with the permission of website operators. They remember that you visited a website and the information was shared with other organizations, such as advertisers. Typically, the target or advertising cookie will link to site functionality provided by other organizations. For more information about online behavioral advertising cookie and online privacy, see the guide produced by the Internet advertising industry.
</p>
<p>
    2. How do we use Cookie? at present.
</p>
<p>
    Used to collect information about how visitors use our website. We use this information to help us improve our website. Cookie collects information anonymously, including the number of visitors to the site, the source of visitors to the site, and the pages they visit.
    The asp.net session ID feature cookie: is used to store an unidentifiable session ID, that allows users to move from one page to another while saving their browsing history without having to log in repeatedly.
</p>

