@{
    ViewData["Title"] = "Disclaimer";
}
<h1>@ViewData["Title"]</h1>

<p>
    Visitors must read these terms carefully and agree to this statement before accepting the services of this website. Visitors' visit to the website and their use of the website in various ways will be deemed as the approval without objection to the whole content of this statement. If there is any objection, please consult with the website immediately and obtain the written consent of the website.
    <br /><br />
    Article 1. visitors must act in good faith and cautiously when engaging in all behaviors related to this website (including but not limited to visiting, browsing, using, reprinting, publicity and introduction); visitors shall not damage or weaken all kinds of legal rights and interests of this website intentionally or negligently, and shall not use this website to directly or indirectly violate international conventions in any way And social morality, and visitors shall abide by the following commitments:
    <br /><br />
    1. The transmission and utilization of information conform to the provisions of international conventions, public order and good customs;<br />
    2. Do not use the website and its related network services for illegal or improper purposes;<br />
    3. Do not interfere with or disrupt the website and its related network services;<br />
    4. Comply with the agreements, regulations, procedures and practices of the website and related network services.<br />
    <br /><br />
    Article 2. the website solemnly reminds visitors: please respect the copyright and copyright of the works when reprinting, uploading or downloading the works concerned; if you find any works that you have not signed, please contact us immediately, and we will add your signature or deal with it in the first time.
    <br /><br />
    Article 3. the original works of users of this website shall be copyrighted jointly by this website and the author. If other websites and traditional media need to be used, they shall obtain the written authorization of this website. Without authorization, it is strictly prohibited to reprint or use for other commercial purposes.
    <br /><br />
    Article 4. the content of this website only represents the opinions of the author, does not represent the opinions and opinions of this website, has nothing to do with the position of this website, and the relevant responsible author shall be responsible for it.
    <br /><br />
    Article 5. this website has the right to use the works published on this website for other purposes, including websites, e-magazines, etc., except for those with copyright notices attached to the works.
    <br /><br />
    Article 6. without the common consent of the website and the author, no other organization may infringe the copyright of its works in any form, including but not limited to: copying, linking, illegally using or reprinting without authorization, or establishing the work image in any way.
    <br /><br />
    Article 7. the works in various forms (including but not limited to words, pictures and charts) published on this website are for reference only, and do not mean that this website agrees with its statement or description, only to provide more information, nor constitute any investment proposal. The website shall not be liable in any form for all acts of visitors based on the information provided by the website unless otherwise expressly agreed in writing.
    <br /><br />
    Article 8. when the website recommends the content of other websites in the form of links, the website is not responsible for the availability of these websites or resources, and does not guarantee the authenticity and legality of any content, products, services or other materials obtained from these websites, and any use or trust of any content, products, services or other materials obtained from such websites or resources（ Or claim to cause) any direct or indirect loss, this website does not assume any responsibility.
    <br /><br />
    Article 9. except for your consent and the provisions of Article 10, the website will not disclose any personal data of users to any party in any way.
    <br /><br />
    Article 10. the website shall not be liable for any personal data leakage caused by the user's informing others of his / her personal password or sharing his / her registered account with others.
    <br /><br />
    Article 11. part of the content of this website comes from the Internet. If you accidentally infringe the intellectual property rights of any media, company, enterprise or individual, please call or send a letter. This website will be deleted within the specified time. If there is any problem related to copyright fee, please provide relevant certificates and other materials in time and contact us, and negotiate the principle of fairness and justice through friendly consultation Handle disputes. The data of this website can't be guaranteed to be 100% accurate, which is for reference.
    <br /><br />
    Article 12. the final interpretation right of the above statement content belongs to wzhoo website.
</p>
