
@{
    ViewData["Title"] = "Mkmnooo - ECB Interest Rates";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-bottom:10px;">


        <div class="col-lg-12" style=" padding-bottom:0px; padding-top:10px; background-color:#cecece;">
            <div class="row">
                <div class="col-xl-4 col-lg-5 col-md-12 col-xs-12">
                    <h2 style="color:#1f3369;"><b>ECB Interest Rates</b></h2>
                </div>
                <div class="col-xl-8 col-lg-7 col-md-12 col-xs-12">
                    <p style="color:#333;  font-size:14px;" id="statisticedisplay"></p>
                </div>
            </div>
        </div>


        <div class="col-12" style="background-color:#fefefe; margin-top:15px;">
            <div class="col-row" style="">
                <img src="~/img/图表.png" width="25px" height="25px;" style="margin-top:20px; " />
            </div>
            <div id="main" class="col-12" style="height:300px;  padding-left:0px; ">
            </div>
        </div>


        <div class="col-12" style="font-size:14px; background-color:#ffffff; margin-top:15px; padding-top:20px;">
            <div class="row" style="padding-left:10px;">
                <img src="~/img/数据.png" width="28px;" height="28px;" />
            </div>
            <table class="table table-hover table-condensed" style="margin-top:20px; min-height:300px;">
                <tbody id="tabledisplay">
                </tbody>
            </table>
        </div>


        <div id="bto" class="col-12 text-right">
            <span style="font-size:14px; margin-right:20px;">Notice: Not guaranteed to be completely accureate,For reference only.</span>
            <a href="#"><img src="~/img/置顶.png" width="30px" height="30px" /></a>
        </div>


    </div>
</div>





@section Scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript" language="JavaScript">

        var pageno = 0;

        function kkk() {
            var str = "";
            $.ajax({
                type: "post",
                url: "/Detailed/OnStatistics",
                contenType: "application/json; charset=utf-8",
                data: { variety: 'ecbir' },
                dataType: "json",
                beforeSend: function () {
                    $("#statisticedisplay").html("<span style='color:#336699;'><b>Loading data......</b></span");
                },
                success: function (result) {
                    str = str + result[3];
                    str = str + '<br/><b>' + result[2] + ' - ' + result[1] + '</b >&nbsp;&nbsp;&nbsp;&nbsp;<b>' + result[0] + '( Display data: top  )</b>';
                    $("#statisticedisplay").html(str);
                }
            });
        }
               

        function jjj(scount) {
            var strr = '';
            $.ajax({
                type: "post",
                url: "/Detailed/OnIndexGeneral",
                contenType: "application/json;charset=UTF-8",
                data: { variety: 'ecbir' },
                dataType: "json",
                headers: {
                    "Authorization": "Bearer " + $.cookie("tkkz")
                },
                beforeSend: function () {
                    $("#tabledisplay").html("<span style='color:#336699;'><b>Loading data......</b></span");
                },
                success: function (result) {
                    var j = result.length;
                    var strmlf = new Array();
                    var strmro = new Array();
                    var strdf = new Array();
                    var strDay = new Array();
                    p = j - 1;
                    strr = strr + '<tr style="background-color:#eee"><td style="padding-left:0px;"><b>DateTime</b></td>';
                    strr = strr + '<td><b>Marginal lending facility</b></td>';
                    strr = strr + '<td><b>Main refinancing operations</b></td>';
                    strr = strr + '<td><b>Deposit facility</b></td>';
                    strr = strr + '</tr>';
                    for (var i = 0; i < j; i++) {
                        strr = strr + '<tr>';
                        strr = strr + '<td style="padding-left:0px;">' + result[i].datetime.replace("0:00:00","")  + '</td>';
                        strr = strr + '<td>' + result[i].mlf+ '%</td>';
                        strr = strr + '<td>' + result[i].mro + '%</td>';
                        strr = strr + '<td>' + result[i].df + '%</td>';
                        strr = strr + '</tr>';
                        strmlf[p] = result[i].mlf;
                        strmro[p] = result[i].mro;
                        strdf[p] = result[i].df;
                        strDay[p] = result[i].datetime.replace("0:00:00","");
                        p = p - 1;
                    }
                    $("#tabledisplay").html(strr);

                    var myChart = echarts.init(document.getElementById('main'));

                    var option = {

                        title: {
                            text: '',
                            color:'#105712',
                        },

                        grid: {
                            left: "4%",
                            right: "4%",
                            height: "75%",
                            bottom: "13%",
                        },

                        tooltip: {
                            trigger: 'axis',
                            axisPointer: {
                                type: 'cross'
                            },
                            backgroundColor: '#666',
                            borderWidth: 0,
                            borderColor: '#ccc',
                            padding: 10,
                            textStyle: {
                                color: '#eee',
                                fontSize:12,
                            },
                            position: function (point, params, dom, rect, size) {
                                var x = 0; // x坐标位置
                                var y = 0; // y坐标位置
                                // 当前鼠标位置
                                var pointX = point[0];
                                var pointY = point[1];

                                // 提示框大小
                                var boxWidth = size.contentSize[0];
                                var boxHeight = size.contentSize[1];
                                // boxWidth > pointX 说明鼠标左边放不下提示框
                                if (boxWidth > pointX) {
                                    x = 5;
                                } else { // 左边放的下
                                    x = pointX - boxWidth;
                                }
                                // boxHeight > pointY 说明鼠标上边放不下提示框
                                if (boxHeight > pointY) {
                                    y = 5;
                                } else { // 上边放得下
                                    y = pointY - boxHeight;
                                }
                                return [x, y];
                            },

                            extraCssText: 'width:170px',
                        },

                        legend: {
                            data: ['Price']
                        },

                        xAxis: {
                            data: strDay,
                            axisLine: {
                                lineStyle: {
                                    color: '#aaa',
                                    width:1.2,
                                },
                            },
                            splitLine: {
                                lineStyle: {
                                    color: '#eee',
                                },
                                show:true,
                            },
                            axisLabel: {
		                        color:'555',
                            },
                        },

                        yAxis: {
                            min: 'dataMin',
                            max: 'dataMax',
                            axisLine: {
                                lineStyle: {
                                    color: '#aaa',
                                    width:1.2,
                                }
                            },
                            splitLine: {
                                lineStyle: {
                                    color: '#eee',
                                },
                                show: true,
                            },
                            axisLabel: {
		                        color:'#555',
                            },
                        },

                        series: [{
                            name: 'MLF',
                            type: 'line',
                            data: strmlf,
                            smooth: true,
                            itemStyle: {
                                normal: {
                                    color: '#336699',
                                    lineStyle:{
                                        width: 1, //设置线条粗细
                                        color:'#336699',
                                    }
                                }
                            }
                        },{
                            name: 'MRO',
                            type: 'line',
                            data: strmro,
                            smooth: true,
                            itemStyle: {
                                normal: {
                                    color: '##996633',
                                    lineStyle:{
                                        width: 1, //设置线条粗细
                                        color:'#996633',
                                    }
                                }
                            }
                        },{
                            name: 'DF',
                            type: 'line',
                            data: strdf,
                            smooth: true,
                            itemStyle: {
                                normal: {
                                    color: '#6cb041',
                                    lineStyle:{
                                        width: 1, //设置线条粗细
                                        color:'#666',
                                    }
                                }
                            }
                        }],


                    };

                    // 使用刚指定的配置项和数据显示图表。
                    myChart.setOption(option);


                }
            });
        }

        $(document).ready(function () {
            kkk();
            jjj(99999);
        })






    </script>

}

