
@{
    ViewData["Title"] = "Wzhoo.com  IndexDayAnaylsis";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row" id="toppp">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-bottom:10px;">
        <div class="thumbnail" style="background-color:#efefef; ">
            <div class="caption">
                <h3 class="h2" href="/Detailed/Index?variety=6b_day" style="color:#1f3369"><b>@ViewBag.variety</b> Anaylsis</h3>
                <p style="color:#333;  font-size:14px; " id="statisticedisplay"></p>
                <p style="text-align:right; height:20px;">
                    <a href="#chartpp" style="font-size:18px; font-weight:600; color:#248b2f; text-decoration-line:underline;">
                        Full chart
                    </a>
                    <!--
                        <a href="" style="font-size:20px; font-weight:600; color:#248b2f; text-decoration-line:underline;">
                        Analysis...
                        </a>
                    -->
                </p>
                <div style="font-size: 14px;">
                    <table class="table table-hover table-condensed">
                        <tbody id="tabledisplay">
                        </tbody>
                    </table>
                </div>
                <div class="text-center" style="margin-top:50px; margin-bottom:60px;">
                    <!--<a href="/User/Add?variety=@ViewBag.variety" style="font-size:26px; font-weight:600;">Analysis....</a>-->
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript" language="JavaScript">


        var pageno = 0;
                var strDataClose = new Array();
                var strDataOpen = new Array();
        var strDay = new Array();

        function kkk() {
            var str="";
            $.ajax({
                type: "post",
                url: "/Detailed/OnStatistics",
                contenType: "application/json; charset=utf-8",
                data: { variety: '@ViewBag.variety' },
                dataType: "json",
                beforeSend: function () {
                    $("#statisticedisplay").html("<span style='color:#336699;'><b>Loading data......</b></span");
                },
                success: function (result) {
                    str = str + result[3]+ '&nbsp;&nbsp; Not guaranteed to be completely accureate,For reference only.<br /> ';
                    str = str + 'Time limit: <b>' + result[2] + ' - ' + result[1] + '</b ><br />The amount of data: <b>' + result[0] + '( Display data: top  )</b>';
                    $("#statisticedisplay").html(str);
                }
            });
        }

        function ppp() {
            var strr='';
            $.ajax({
                type: "post",
                url: "/Detailed/OnTableListDayAnaylsis",
                contenType: "application/json; charset=utf-8",
                data: { variety: '@ViewBag.variety'},
                dataType: "json",
                beforeSend: function () {
                    $("#tabledisplay").html("<span style='color:#336699;'><b>Loading data......</b></span");
                },
                success: function (result) {
                    var j = result.length;
                    p = j - 1;
                    strr = strr + '<tr style="background-color:#ddd"><td style="padding-left:0px;"><b>DateTime</b></td>';
                    strr = strr + '<td><b>Upshw&nbsp;&nbsp;:&nbsp;&nbsp;entity&nbsp;&nbsp;:&nbsp;&nbsp;dwshw</b></td><td><b>Range</b></td>';
                    strr = strr + '<td><b>OpenV</b></td><td><b>CloseV</b></td><td><b>Volume</b></td></tr>';
                    for (var i = 0; i < j; i++){
                        strr = strr + '<tr>';
                        strr = strr + '<td style="padding-left:0px;">' + result[i].datetime + '</td>';
                        strr = strr + '<td>' + result[i].upwardshadow + ' : ' + result[i].entity + ' : ' + result[i].downshadow + '</td>';
                        strr = strr + '<td>' + result[i].range + '</td>';
                        strr = strr + '<td>' + result[i].openV + '</td>';
                        strr = strr + '<td>' + result[i].closeV + '</td>';
                        strr = strr + '<td>' + result[i].volume+'</td>';
                        strr = strr + '</tr>';

                        p = p - 1;
                    }
                    $("#tabledisplay").html(strr);
                }
            });
        }

        $(document).ready(function () {
            kkk();
            ppp();
        })

    </script>
}
